:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display:flex;
  --desktopSize: 17vh;
  --mobileSize: 6vh;
}

* {
    box-sizing: border-box;
  }

body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.square {
  color: #fff;
  background: #fff;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 1px;
  float: left;
  font-size: 8rem;
  font-weight: bold;
  height: var(--desktopSize);
  max-height: var(--desktopSize);
  width: var(--desktopSize);
  max-width:var(--desktopSize);
  padding: 0;
  cursor: pointer;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  display: flex;
  justify-content: center;
  transition: border-color 0.25s;
  align-items: center;
  box-shadow: 10px 10px black;
}
.square:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
  gap: 30vh;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.times {
  color: #fff;
  background: #fff;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  min-width: 300px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px black;
  transition: border-color 0.25s;
}

.times:hover {
  border-color: #646cff;
}

ol {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 10px;
  place-content: center;
}

::selection {
  background-color: coral;
}

@media screen and (max-width: 900px) {
  .game { 
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }  

  .square {  
    height: var(--mobileSize);
    max-height: var(--mobileSize);
    width: var(--mobileSize);
    max-width:var(--mobileSize);
    font-size: 2rem;
  }
  body {
    place-items: start;
  }

  .times {
    min-width: 70vw;
  }
}